# Unit 0: Intro to Python

## Checking Python version

Check to confirm that Python is available on the current system

Note the '!' leading the command; this tells Jupyter to run the command using the system's command line, rather than Python.

In [1]:
!python --version

Python 3.8.5

## The Print Function
A few simple examples, first with a sentence, then a number

In [2]:
print("I love Python!")

I love Python!

In [3]:
print("42")

42

## Variables

### Creation

Creating a simple variable named `foo` with the contents `"bar"`

In [4]:
foo = "bar"
print(foo)

bar

### Modification

Updating the existing variable `foo` with the contents `"bar"` to instead contain `"boz"`

In [5]:
foo = "bar"
print(foo)

bar

In [6]:
foo = "boz"
print(foo)

boz

### Deletion
Deleting the variable `foo` after it had been created with the contents `"bing"`

In [7]:
foo = "bing"
print(foo)

bing

In [8]:
# This will fail! This is intended
del foo
print(foo)

NameError: name 'foo' is not defined

## Arithmetic Operators

### Addition

Accomplished using the `+` operator

In [9]:
2+3

5

### Subtraction

Accomplished using the `-` operator

In [10]:
7-3

4

### Multiplication

Accomplished using the `*` operator

In [11]:
2*4

8

### Division

Accomplished using the `/` operator (note: this will always conver the result to a decimal point)

In [12]:
6/3

2.0

### Modulus

Accomplished using the `%` operator

In [13]:
5%2

1

### Floor Division

Accomplished using the `//` operator

In [14]:
7//3

2

### Exponent/Power

Accomplished using the `**` operator

In [15]:
4**2

16

## Assignment Operators

### Assign

Accomplished using the `=` operator

In [16]:
foo = 3
print(foo)

3

### Sum

Accomplished using the `+=` operator

In [17]:
foo = 3
foo += 2
print(foo)

5

### Delta

Accomplished using the `-=` operator

In [18]:
foo = 5
foo -= 2
print(foo)

3

### Product

Accomplished using the `*=` operator

In [19]:
foo = 3
foo *= 4
print(foo)

12

### Quotient

Accomplished using the `/=` operator

In [20]:
foo = 3
foo /= 4
print(foo)

0.75

### Modulo

Accomplished using the `%=` operator

In [21]:
foo = 9
foo %= 4
print(foo)

1

### Floor Quotient

Accomplished using the `//=` operator

In [22]:
foo = 8
foo //= 3
print(foo)

2

### Exponent

Accomplished using the `**=` operator

In [23]:
foo = 4
foo **= 2
print(foo)

16

## Comparison Operators

### Equal

Accomplished using the `==` operator

In [24]:
foo = 3
bar = 4
bing = foo == bar
print(bing)

False

### Not Equal

Accomplished using the `!=` operator

In [25]:
foo = 3
bar = 4
bing = foo != bar
print(bing)

True

### Greater Than

Accomplished using the `>` operator

In [26]:
foo = 7
bar = 2
bing = foo > bar
print(bing)

True

### Less Than

Accomplished using the `<` operator

In [27]:
foo = 7
bar = 2
bing = foo < bar
print(bing)

False

### Greater or Equal to
>=
Accomplished using the `>=` operator

In [28]:
foo = 4
bar = 5
bing = foo >= bar
print(bing)

False

### Less or Equal to

Accomplished using the `<=` operator

In [29]:
foo = 4
bar = 4
bing = foo <= bar
print(bing)

True

## Logical Operators

### Not

Accomplished using the `not` operator

In [30]:
foo = True
bar = not foo
print(bar)

False

### And

Accomplished using the `and` operator

In [31]:
foo = True
bar = False
bing = foo and bar
print(bing)

False

### Or

Accomplished using the `or` operator

In [32]:
foo = True
bar = False
bing = foo or bar
print(bing)

True

## Strings

### Creation
Created by surrounding text in single or double quotes:

In [33]:
# Double quotes
str1 = "Hello "
# Single quotes
str2 = 'World!'

### Concatenation
Two strings can be added to one another using the addition operator (`+`) discussed prior:

In [1]:
str1 = "Foo"
str2 = "Bar"
str3 = "Baz"
str4 = str1 + str2
str4 += str3
print(str4)

FooBarBaz

### Conversion

Non-strings can be converted into strings either explicitly (using the `str` command) or implicitly within another string (using `f-strings`)

In [35]:
# Explicit convertion
num_str = "Val" + str(43)
print(num_str)

Val43

In [36]:
# Implicit converstion (f-string)
a = 6
b = 8
sentence = f"The sum of {a} and {b} is {a+b}"
print(sentence)

The sum of 6 and 8 is 14

### Slicing
Strings can be trimmed in two ways; either directly indexing a specific character (using `[]`) or by slicing them relative to a position (using `:`)

In [37]:
python_love = "I love Python!"
# Single position querying (note; this querying starts at 0!)
i1 = python_love[0]
print(i1)

I

In [38]:
# All after specified position (inclusive)
s1 = python_love[7:]
print(s1)

Python!

In [40]:
# All before specified position (exclusive)
s2 = python_love[:7]
print(s2)

I love

In [41]:
# All characters between tqo indices (inclusive/exclusive)
s3 = python_love[2:6]
print(s3)

love

## Requesting User Input

We can prompt the user to submit input with the `input` command

In [42]:
user_input = input("Please enter a name: ")

Please enter a name:  Joe

In [43]:
print(f"Hello {user_input}!")

Hello Joe!

Note that all input is treated as a string by default:

In [44]:
a = input("Please enter a number:")
b = input("Please enter a second number:")
print(a+b)

Please enter a number: 4
Please enter a second number: 5

45

## Type Convertsion

Similar to how elements can be converted into strings, we can convert strings back into different types using the `int` (integers) and `float` (decimal point) functions:

In [45]:
# Get the initial number from the user
a = input("Enter an Integer:")

Enter an Integer: 3

In [46]:
# This will fail, as we're trying to add a string to an integer!
print(a + 4)

TypeError: can only concatenate str (not "int") to str

In [47]:
# Converting to int will fix this
print(int(a) + 4)

7

In [48]:
# As will converting to float, though this makes it a decimal point value
print(float(a) + 4)

7.0

Depending on the Python version used, the code below may convert a 'yes' into `True` and no into `False`

In [49]:
a = input("Are you paying attention? (yes/no)")

Are you paying attention? (yes/no) yes

In [50]:
print(f"It is {bool(a)} that you'll do well in this course")

It is True that you'll do well in this course

## Comments
Comments are simply text denoted with a leading `#`, so the programmer (i.e. you) can remark or describe more complex code without influencing how the code runs

In [51]:
# A demo of the Pythegorean Theorem
a = 3
b = 4
c = (a**2 + b**2)**(0.5)
print(c)

5.0