# Unit 2: Data for AI

## Data

For this tutorial we'll use <b>Diabetes</b> dataset (available at https://aka.ms/diabetes-data). However, for this tutorial, we modified the original dataset.<br>

Available columns in the dataset:<br>
* Pregnancies: Number of times pregnant
* PlasmaGlucose: Plasma glucose concentration a 2 hours in an oral glucose tolerance test
* DiastolicBloodPressure: Diastolic blood pressure (mm Hg)
* TricepsThickness	: Triceps skin fold thickness (mm)
* SerumInsulin: 2-Hour serum insulin (mu U/ml)
* BMI: Body mass index (weight in kg/(height in m)^2)
* DiabetesPedigree: Diabetes pedigree function
* Age: Age (years)
* Ethnicity: <span style="color:red">This feature is not availalbe in the original dataset</span>
* Diabetic: Class variable (No or Yes) <span style="color:red">In original dataset the class variable is 0/1</span>

A similar dataset is available at https://www.kaggle.com/datasets/mathchi/diabetes-data-set

## Load data into python workspace

Load required libraries

In [1]:
import pandas as pd

Load data from a Comma Separated Value (CSV) formatted file

In [2]:
df = pd.read_csv('diabetes_mod.csv')

Check available features/columns

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
PatientID                 10000 non-null int64
Pregnancies               9500 non-null float64
PlasmaGlucose             10000 non-null int64
DiastolicBloodPressure    10000 non-null int64
TricepsThickness          8500 non-null float64
SerumInsulin              10000 non-null int64
BMI                       10000 non-null float64
DiabetesPedigree          9500 non-null float64
Age                       10000 non-null int64
Diabetic                  10000 non-null object
Ethnicity                 9500 non-null object
dtypes: float64(4), int64(5), object(2)
memory usage: 859.5+ KB

Check first few lines of data

In [4]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,Ethnicity
0,1354778,NaN,171,80,34.0,23,43.509726,1.213191,21,No,White
1,1147438,8.0,92,93,47.0,36,21.240576,0.158365,23,No,White
2,1640031,7.0,115,47,52.0,35,41.511523,NaN,23,No,White
3,1883350,9.0,103,78,25.0,304,29.582192,1.282870,43,Yes,White
4,1424119,1.0,85,59,27.0,35,42.604536,0.549542,22,No,Hispanic

Check a glimpse of the dataset with number of columns and rows

In [5]:
df

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,Ethnicity
0,1354778,NaN,171,80,34.0,23,43.509726,1.213191,21,No,White
1,1147438,8.0,92,93,47.0,36,21.240576,0.158365,23,No,White
2,1640031,7.0,115,47,52.0,35,41.511523,NaN,23,No,White
3,1883350,9.0,103,78,25.0,304,29.582192,1.282870,43,Yes,White
4,1424119,1.0,85,59,27.0,35,42.604536,0.549542,22,No,Hispanic
5,1619297,0.0,82,92,9.0,253,19.724160,0.103424,26,No,White
6,1660149,NaN,133,47,NaN,227,21.941357,0.174160,21,No,White
7,1458769,0.0,67,87,43.0,36,18.277723,0.236165,26,No,White
8,1201647,8.0,80,95,33.0,24,26.624929,0.443947,53,Yes,White
9,1403912,1.0,72,31,NaN,42,36.889576,0.103944,26,No,White
10,1943830,1.0,88,86,11.0,58,43.225041,0.230285,22,No,Asian
11,1824483,3.0,94,96,31.0,36,21.294479,0.259020,23,No,White
12,1848869,5.0,114,101,43.0,70,36.495320,0.079190,38,Yes,White
13,1669231,7.0,110,82,16.0,44,36.089293,0.281276,25,No,Asian
14,1683688,0.0,148,58,11.0,179,39.192076,0.160829,45,No,Other
15,1738587,3.0,109,77,46.0,61,19.847312,0.204345,21,Yes,White
16,1884264,3.0,106,64,25.0,51,29.044573,0.589188,42,Yes,Other
17,1485251,NaN,156,53,15.0,226,29.786192,0.203824,41,Yes,White
18,1536832,8.0,117,39,32.0,164,21.230996,NaN,25,No,White
19,1438701,3.0,102,100,25.0,289,42.185720,0.175593,43,Yes,White
20,1359971,0.0,92,84,8.0,324,21.866260,0.258332,33,No,White
21,1631185,0.0,118,95,7.0,276,42.500887,0.083558,24,No,White
22,1061812,1.0,82,55,18.0,165,36.628249,0.171620,23,No,NaN
23,1218879,1.0,124,82,42.0,266,34.985772,0.083335,25,No,Other
24,1940297,2.0,44,81,NaN,146,34.534082,0.693502,55,Yes,White
25,1710438,9.0,104,68,NaN,40,51.855401,0.182938,21,Yes,Other
26,1139740,6.0,135,91,31.0,14,45.274113,0.707163,21,Yes,Hispanic
27,1398321,3.0,163,87,42.0,428,18.571188,0.777016,25,No,White
28,1975790,0.0,119,50,52.0,16,45.391121,0.270567,22,No,NaN
29,1721341,0.0,70,64,9.0,16,20.985223,NaN,33,No,Hispanic
...,...,...,...,...,...,...,...,...,...,...,...
9970,1433799,2.0,170,65,54.0,30,39.284422,0.167632,21,Yes,White
9971,1361758,NaN,88,62,28.0,83,36.406924,0.454795,22,No,White
9972,1998049,0.0,71,40,NaN,44,24.362472,0.189576,31,No,White
9973,1119523,1.0,53,66,54.0,17,18.324085,0.109005,22,No,White
9974,1515484,0.0,129,85,43.0,218,19.244433,0.759246,31,No,White
9975,1827787,8.0,122,67,42.0,89,34.706564,0.198468,59,Yes,NaN
9976,1950748,9.0,155,51,32.0,25,37.952566,0.086701,26,No,White
9977,1858846,9.0,85,91,33.0,20,40.158515,0.267676,25,No,Hispanic
9978,1228096,9.0,107,60,46.0,186,42.697362,0.736380,54,Yes,White
9979,1132159,3.0,171,52,47.0,79,43.997923,0.163138,53,Yes,White
9980,1294279,8.0,82,59,9.0,339,50.812712,2.039938,23,No,Asian
9981,1773403,0.0,91,68,22.0,152,19.154561,0.451276,23,No,Asian
9982,1508248,1.0,108,61,43.0,91,30.601530,NaN,61,Yes,Hispanic
9983,1883685,1.0,102,62,NaN,174,21.905546,NaN,22,No,Asian
9984,1107369,0.0,67,51,44.0,39,20.054093,0.078833,23,No,White
9985,1439126,2.0,100,47,25.0,305,31.021941,0.895742,46,Yes,White
9986,1566845,NaN,95,85,18.0,161,42.473560,0.151509,21,No,Hispanic
9987,1431023,0.0,85,46,30.0,218,41.127290,0.190197,34,No,White
9988,1223645,1.0,103,41,NaN,46,33.733874,0.262790,23,No,White
9989,1550270,1.0,147,60,10.0,164,41.199681,0.118340,22,No,White
9990,1317550,0.0,86,80,10.0,36,43.389898,0.083597,21,No,Asian
9991,1819056,4.0,140,94,25.0,170,32.448878,0.108273,45,Yes,Hispanic
9992,1639966,4.0,100,83,NaN,49,26.273109,0.136661,42,Yes,NaN
9993,1006612,1.0,69,85,NaN,46,36.564569,0.139280,23,No,White
9994,1464564,0.0,84,39,NaN,37,41.443376,0.123610,26,No,White
9995,1469198,6.0,95,85,37.0,267,18.497542,0.660240,31,No,Asian
9996,1432736,0.0,55,51,7.0,50,21.865341,0.086589,34,No,White
9997,1410962,5.0,99,59,47.0,67,30.774018,2.301594,43,Yes,White
9998,1958653,NaN,145,67,NaN,21,18.811861,0.789572,26,No,White
9999,1332938,10.0,100,54,34.0,27,38.840943,0.175465,23,No,White

You can also check the dimention of the dataframe with `dataframe.shape`

In [37]:
df.shape

(10000, 11)

### Check data distribution

Check data distribution for numeric columns

In [6]:
df.describe()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age
count,1.000000e+04,9500.000000,10000.000000,10000.000000,8500.000000,10000.000000,10000.000000,9500.000000,10000.000000
mean,1.502122e+06,3.259789,107.850200,71.207500,28.788000,139.243600,31.567022,0.400806,30.134100
std,2.892868e+05,3.401616,31.920909,16.801478,14.492659,133.777919,9.804366,0.380767,12.106047
min,1.000038e+06,0.000000,44.000000,24.000000,7.000000,14.000000,18.200807,0.078044,21.000000
25%,1.251672e+06,0.000000,84.000000,58.000000,15.000000,39.000000,21.247427,0.137321,22.000000
50%,1.504394e+06,2.000000,105.000000,72.000000,30.000000,85.000000,31.922421,0.199888,24.000000
75%,1.754608e+06,6.000000,129.000000,85.000000,41.000000,197.000000,39.328921,0.621000,35.000000
max,1.999997e+06,14.000000,192.000000,117.000000,92.000000,796.000000,56.034628,2.301594,77.000000

Check data distribtions for categorical features

In [7]:
df['Ethnicity'].value_counts()

White       5738
Asian       1436
Hispanic    1433
Other        893
Name: Ethnicity, dtype: int64

In [8]:
df['Diabetic'].value_counts()

No     6656
Yes    3344
Name: Diabetic, dtype: int64

### Check missing data

Missing datas are loaded as `NaN (Not a Number)` in pandas dataframe. Pandas treats `missing`, `null`, `not available` or `NA` in a similar way. Count `missing` values for all features

In [9]:
df.isnull().sum()

PatientID                    0
Pregnancies                500
PlasmaGlucose                0
DiastolicBloodPressure       0
TricepsThickness          1500
SerumInsulin                 0
BMI                          0
DiabetesPedigree           500
Age                          0
Diabetic                     0
Ethnicity                  500
dtype: int64

Count rows having at least one `null` value

In [10]:
df.isnull().values.ravel().sum()

3000

## Process Missing data

Depending on the missing data category and number of missing values, you can choose to:
* remove instances/rows with missing values
* remove features/columns 
* impute the missing values

### Option 1: Instance deletion (remove instances/rows)

pandas dataframe `dropna()` removes all rows having `missing` value.

In [11]:
df = df.dropna()

Check if there is any `null` avaialble

In [12]:
df.isnull().values.ravel().sum()

0

Check availalble data info

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7287 entries, 1 to 9999
Data columns (total 11 columns):
PatientID                 7287 non-null int64
Pregnancies               7287 non-null float64
PlasmaGlucose             7287 non-null int64
DiastolicBloodPressure    7287 non-null int64
TricepsThickness          7287 non-null float64
SerumInsulin              7287 non-null int64
BMI                       7287 non-null float64
DiabetesPedigree          7287 non-null float64
Age                       7287 non-null int64
Diabetic                  7287 non-null object
Ethnicity                 7287 non-null object
dtypes: float64(4), int64(5), object(2)
memory usage: 683.2+ KB

### Option 2: Feature deletion (remove features/columns)

Load the data again (We removed data having `missing`value in the previous section)

In [14]:
df = pd.read_csv('diabetes_mod.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
PatientID                 10000 non-null int64
Pregnancies               9500 non-null float64
PlasmaGlucose             10000 non-null int64
DiastolicBloodPressure    10000 non-null int64
TricepsThickness          8500 non-null float64
SerumInsulin              10000 non-null int64
BMI                       10000 non-null float64
DiabetesPedigree          9500 non-null float64
Age                       10000 non-null int64
Diabetic                  10000 non-null object
Ethnicity                 9500 non-null object
dtypes: float64(4), int64(5), object(2)
memory usage: 859.5+ KB

drop column `DiabetesPedigree` from the dataframe

In [17]:
df = df.drop(columns=['DiabetesPedigree'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
PatientID                 10000 non-null int64
Pregnancies               9500 non-null float64
PlasmaGlucose             10000 non-null int64
DiastolicBloodPressure    10000 non-null int64
TricepsThickness          8500 non-null float64
SerumInsulin              10000 non-null int64
BMI                       10000 non-null float64
Age                       10000 non-null int64
Diabetic                  10000 non-null object
Ethnicity                 9500 non-null object
dtypes: float64(3), int64(5), object(2)
memory usage: 781.3+ KB

### Option 3: Impute missing data

You can impute data in 2 primary ways:
* Univariate - impute missing values of a feature based on that feature only. You can do so by different ways (not exhaustive):
    * constant - a constant value for all missing
    * mean - mean of the non-missing values
    * median - median of the non-missing values
    * mode - mode or most frequent value of the non-missing values
    * interpolate - based on the relationship between data within the feature
* Multivariate - impute missing values of a feature based on all/selected features in the dataframe

Load the data again (We removed the data having `missing`value in the previous section)

In [19]:
df = pd.read_csv('diabetes_mod.csv')

Check data

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
PatientID                 10000 non-null int64
Pregnancies               9500 non-null float64
PlasmaGlucose             10000 non-null int64
DiastolicBloodPressure    10000 non-null int64
TricepsThickness          8500 non-null float64
SerumInsulin              10000 non-null int64
BMI                       10000 non-null float64
DiabetesPedigree          9500 non-null float64
Age                       10000 non-null int64
Diabetic                  10000 non-null object
Ethnicity                 9500 non-null object
dtypes: float64(4), int64(5), object(2)
memory usage: 859.5+ KB

Impute `DiabetesPedigree` with a constant value `0.2`

In [21]:
df['DiabetesPedigree'] = df['DiabetesPedigree'].fillna(0.2)

Impute `TricepsThickness` with `mean`

In [22]:
df['TricepsThickness'] = df['TricepsThickness'].fillna(df['TricepsThickness'].median())

Impute `Pregnancies` with `median`

In [23]:
df['Pregnancies'] = df['Pregnancies'].fillna(df['Pregnancies'].median())

Impute `Ethnicity` with `Mode (most frequent value)`

In [24]:
df['Ethnicity'] = df['Ethnicity'].fillna(df['Ethnicity'].mode()[0])

Check data

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
PatientID                 10000 non-null int64
Pregnancies               10000 non-null float64
PlasmaGlucose             10000 non-null int64
DiastolicBloodPressure    10000 non-null int64
TricepsThickness          10000 non-null float64
SerumInsulin              10000 non-null int64
BMI                       10000 non-null float64
DiabetesPedigree          10000 non-null float64
Age                       10000 non-null int64
Diabetic                  10000 non-null object
Ethnicity                 10000 non-null object
dtypes: float64(4), int64(5), object(2)
memory usage: 859.5+ KB

## Process available data

In [28]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,Ethnicity
0,1354778,2.0,171,80,34.0,23,43.509726,1.213191,21,No,White
1,1147438,8.0,92,93,47.0,36,21.240576,0.158365,23,No,White
2,1640031,7.0,115,47,52.0,35,41.511523,0.200000,23,No,White
3,1883350,9.0,103,78,25.0,304,29.582192,1.282870,43,Yes,White
4,1424119,1.0,85,59,27.0,35,42.604536,0.549542,22,No,Hispanic

### Convert categorical value to numeric

Convert categorical values to user-defined numeric values

In [29]:
df = df.replace({'Diabetic': {'Non-Diabetic': 0, 'Diabetic':1}})

In [30]:
# Convert Ethnicity to non-numeric label:
# following code will not change the data, as there is no assignment operrator (=) used
df.replace({'Ethnicity': {'White': 0, 'Asian':1, 'Hispanic':2, 'Other':3}})

# to change the data you can use following code (after removing comment)
# df = df.replace({'Ethnicity': {'White': 0, 'Asian':1, 'Hispanic':2, 'Other':1}})

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,Ethnicity
0,1354778,2.0,171,80,34.0,23,43.509726,1.213191,21,No,0
1,1147438,8.0,92,93,47.0,36,21.240576,0.158365,23,No,0
2,1640031,7.0,115,47,52.0,35,41.511523,0.200000,23,No,0
3,1883350,9.0,103,78,25.0,304,29.582192,1.282870,43,Yes,0
4,1424119,1.0,85,59,27.0,35,42.604536,0.549542,22,No,2
5,1619297,0.0,82,92,9.0,253,19.724160,0.103424,26,No,0
6,1660149,2.0,133,47,30.0,227,21.941357,0.174160,21,No,0
7,1458769,0.0,67,87,43.0,36,18.277723,0.236165,26,No,0
8,1201647,8.0,80,95,33.0,24,26.624929,0.443947,53,Yes,0
9,1403912,1.0,72,31,30.0,42,36.889576,0.103944,26,No,0
10,1943830,1.0,88,86,11.0,58,43.225041,0.230285,22,No,1
11,1824483,3.0,94,96,31.0,36,21.294479,0.259020,23,No,0
12,1848869,5.0,114,101,43.0,70,36.495320,0.079190,38,Yes,0
13,1669231,7.0,110,82,16.0,44,36.089293,0.281276,25,No,1
14,1683688,0.0,148,58,11.0,179,39.192076,0.160829,45,No,3
15,1738587,3.0,109,77,46.0,61,19.847312,0.204345,21,Yes,0
16,1884264,3.0,106,64,25.0,51,29.044573,0.589188,42,Yes,3
17,1485251,2.0,156,53,15.0,226,29.786192,0.203824,41,Yes,0
18,1536832,8.0,117,39,32.0,164,21.230996,0.200000,25,No,0
19,1438701,3.0,102,100,25.0,289,42.185720,0.175593,43,Yes,0
20,1359971,0.0,92,84,8.0,324,21.866260,0.258332,33,No,0
21,1631185,0.0,118,95,7.0,276,42.500887,0.083558,24,No,0
22,1061812,1.0,82,55,18.0,165,36.628249,0.171620,23,No,0
23,1218879,1.0,124,82,42.0,266,34.985772,0.083335,25,No,3
24,1940297,2.0,44,81,30.0,146,34.534082,0.693502,55,Yes,0
25,1710438,9.0,104,68,30.0,40,51.855401,0.182938,21,Yes,3
26,1139740,6.0,135,91,31.0,14,45.274113,0.707163,21,Yes,2
27,1398321,3.0,163,87,42.0,428,18.571188,0.777016,25,No,0
28,1975790,0.0,119,50,52.0,16,45.391121,0.270567,22,No,0
29,1721341,0.0,70,64,9.0,16,20.985223,0.200000,33,No,2
...,...,...,...,...,...,...,...,...,...,...,...
9970,1433799,2.0,170,65,54.0,30,39.284422,0.167632,21,Yes,0
9971,1361758,2.0,88,62,28.0,83,36.406924,0.454795,22,No,0
9972,1998049,0.0,71,40,30.0,44,24.362472,0.189576,31,No,0
9973,1119523,1.0,53,66,54.0,17,18.324085,0.109005,22,No,0
9974,1515484,0.0,129,85,43.0,218,19.244433,0.759246,31,No,0
9975,1827787,8.0,122,67,42.0,89,34.706564,0.198468,59,Yes,0
9976,1950748,9.0,155,51,32.0,25,37.952566,0.086701,26,No,0
9977,1858846,9.0,85,91,33.0,20,40.158515,0.267676,25,No,2
9978,1228096,9.0,107,60,46.0,186,42.697362,0.736380,54,Yes,0
9979,1132159,3.0,171,52,47.0,79,43.997923,0.163138,53,Yes,0
9980,1294279,8.0,82,59,9.0,339,50.812712,2.039938,23,No,1
9981,1773403,0.0,91,68,22.0,152,19.154561,0.451276,23,No,1
9982,1508248,1.0,108,61,43.0,91,30.601530,0.200000,61,Yes,2
9983,1883685,1.0,102,62,30.0,174,21.905546,0.200000,22,No,1
9984,1107369,0.0,67,51,44.0,39,20.054093,0.078833,23,No,0
9985,1439126,2.0,100,47,25.0,305,31.021941,0.895742,46,Yes,0
9986,1566845,2.0,95,85,18.0,161,42.473560,0.151509,21,No,2
9987,1431023,0.0,85,46,30.0,218,41.127290,0.190197,34,No,0
9988,1223645,1.0,103,41,30.0,46,33.733874,0.262790,23,No,0
9989,1550270,1.0,147,60,10.0,164,41.199681,0.118340,22,No,0
9990,1317550,0.0,86,80,10.0,36,43.389898,0.083597,21,No,1
9991,1819056,4.0,140,94,25.0,170,32.448878,0.108273,45,Yes,2
9992,1639966,4.0,100,83,30.0,49,26.273109,0.136661,42,Yes,0
9993,1006612,1.0,69,85,30.0,46,36.564569,0.139280,23,No,0
9994,1464564,0.0,84,39,30.0,37,41.443376,0.123610,26,No,0
9995,1469198,6.0,95,85,37.0,267,18.497542,0.660240,31,No,1
9996,1432736,0.0,55,51,7.0,50,21.865341,0.086589,34,No,0
9997,1410962,5.0,99,59,47.0,67,30.774018,2.301594,43,Yes,0
9998,1958653,2.0,145,67,30.0,21,18.811861,0.789572,26,No,0
9999,1332938,10.0,100,54,34.0,27,38.840943,0.175465,23,No,0

Check current data

In [31]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,Ethnicity
0,1354778,2.0,171,80,34.0,23,43.509726,1.213191,21,No,White
1,1147438,8.0,92,93,47.0,36,21.240576,0.158365,23,No,White
2,1640031,7.0,115,47,52.0,35,41.511523,0.200000,23,No,White
3,1883350,9.0,103,78,25.0,304,29.582192,1.282870,43,Yes,White
4,1424119,1.0,85,59,27.0,35,42.604536,0.549542,22,No,Hispanic

### One-hot coding

You can use pandas `get_dummies()` to convert each unique values in a column to it's unique column with 1/0 value (i.e. one-hot coding)

In [32]:
import pandas as pd

df = pd.get_dummies(df, columns=["Ethnicity"], prefix=["Ethnicity"] )
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,Ethnicity_Asian,Ethnicity_Hispanic,Ethnicity_Other,Ethnicity_White
0,1354778,2.0,171,80,34.0,23,43.509726,1.213191,21,No,0,0,0,1
1,1147438,8.0,92,93,47.0,36,21.240576,0.158365,23,No,0,0,0,1
2,1640031,7.0,115,47,52.0,35,41.511523,0.200000,23,No,0,0,0,1
3,1883350,9.0,103,78,25.0,304,29.582192,1.282870,43,Yes,0,0,0,1
4,1424119,1.0,85,59,27.0,35,42.604536,0.549542,22,No,0,1,0,0

## Other raw data format

In [33]:
df = pd.read_csv('diabetes_mod.tsv',sep="\t")

In [34]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,Ethnicity
0,1354778,NaN,171,80,34.0,23,43.509726,1.213191,21,No,White
1,1147438,8.0,92,93,47.0,36,21.240576,0.158365,23,No,White
2,1640031,7.0,115,47,52.0,35,41.511523,NaN,23,No,White
3,1883350,9.0,103,78,25.0,304,29.582192,1.282870,43,Yes,White
4,1424119,1.0,85,59,27.0,35,42.604536,0.549542,22,No,Hispanic

In [35]:
df = pd.read_json('diabetes_mod.json')

In [36]:
df.head()

,Age,BMI,DiabetesPedigree,Diabetic,DiastolicBloodPressure,Ethnicity,PatientID,PlasmaGlucose,Pregnancies,SerumInsulin,TricepsThickness
0,21,43.509726,1.213191,No,80,White,1354778,171,NaN,23,34.0
1,23,21.240576,0.158365,No,93,White,1147438,92,8.0,36,47.0
2,23,41.511523,NaN,No,47,White,1640031,115,7.0,35,52.0
3,43,29.582192,1.282870,Yes,78,White,1883350,103,9.0,304,25.0
4,22,42.604536,0.549542,No,59,Hispanic,1424119,85,1.0,35,27.0